@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 320px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -85px;
                }

        .alert-success {
            color: white;
            background-color: green;
            border-color: green;
        }

        .alert-error {
            color: white;
            background-color: red;
            border-color: red;
        }

    </style>
}

<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" id="successMessage">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-error" id="errorMessage">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" asp-action="Login" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label asp-for="EmailUser">Email:</label>
                            <input asp-for="EmailUser" class="form-control" />
                            <span asp-validation-for="EmailUser" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserPassword">Senha:</label>
                            <input asp-for="UserPassword" class="form-control" type="password" />
                            <span asp-validation-for="UserPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">                            
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#successMessage").fadeOut("slow", function () {
                    $(this).remove();
                });
            }, 5000); // 5 seconds
        });
    </script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#errorMessage").fadeOut("slow", function () {
                    $(this).remove();
                });
            }, 5000); // 5 seconds
        });
    </script>
}
