@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p>Agora você já pode administrar suas tarefas usando esse incrível
        <a href="@Url.Action("Index","Kanban")">Kanban</a>.</p>
</div>
