@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles{
    <link href="~/css/privacy.css" rel="stylesheet" />
}
<div class="container">

    <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-20 rounded-top" style="background:url(https://bootdey.com/image/480x480/FF00FF/000000) no-repeat; background-size: cover;">
            </div>
            <div class="card rounded-bottom smooth-shadow-sm">
                <div class="d-flex align-items-center justify-content-between
                  pt-4 pb-6 px-4">
                    <!-- avatar -->
                    <div class="d-flex align-items-center">
                        <div class="avatar-xxl avatar-indicators avatar-online me-2
                      position-relative d-flex justify-content-end
                      align-items-end mt-n10">
                            <img src="~/images/Eu.jpg" class="avatar-xxl
                        rounded-circle border border-2 " alt="Image">
                            <a href="#!" class="position-absolute top-0 right-0 me-2">
                                <img src="https://dashui.codescandy.com/dashuipro/assets/images/svg/checked-mark.svg" alt="Image" class="icon-sm">
                            </a>
                        </div>
                        <!-- content -->
                        <div class="lh-1">
                            <h2 class="mb-0">
                                Leonardo Francisco
                                <a href="#!" class="text-decoration-none">
                                </a>
                            </h2>
                            <p class="mb-0 d-block">leonardosfrancisco@gmail.com</p>
                        </div>
                    </div>                  
                </div>
                <!-- nav -->
                <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Desenvolvedor .Net / Pós-Graduado em Arquitetura de Software e Soluções</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page content -->
    <div class="py-6">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                <div class="mb-8">
                    <!-- card -->
                    <div class="card bg-gray-300 shadow-none mb-4">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex justify-content-between
                        align-items-center">
                                <div>
                                    <h5 class="mb-0">Stacks utilizadas para o desenvolvimento do projeto</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="card">
                        <!-- list group -->
                        <ul class="list-group list-group-flush">
                            <!-- list group item -->
                            <li class="list-group-item p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <!-- img -->
                                        <div>
                                            <img src="~/images/netcore.jpg" alt="Image" class="avatar-sm rounded-circle">
                                        </div>
                                        <!-- content -->
                                        <div class="ms-3">
                                            <p class="mb-0 font-weight-medium">
                                                .Net 8
                                            </p>
                                        </div>
                                    </div>   
                                </div>
                            </li>
                            <!-- list group item -->
                            <li class="list-group-item p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <!-- img -->
                                        <div>
                                            <img src="~/images/mongodb.jpg" alt="Image" class="avatar-sm rounded-circle">
                                        </div>
                                        <!-- content -->
                                        <div class="ms-3">
                                            <p class="mb-0 font-weight-medium">
                                                Banco de dados MongoDB
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- list group item -->
                            <li class="list-group-item p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <!-- img -->
                                        <div>
                                            <img src="~/images/entity-framework.png" alt="Image" class="avatar-sm rounded-circle">
                                        </div>
                                        <!-- content -->
                                        <div class="ms-3">
                                            <p class="mb-0 font-weight-medium">
                                                Entityframework para .Net 8
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- list group item -->
                            <li class="list-group-item p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <!-- img -->
                                        <div>
                                            <img src="~/images/identity.png" alt="Image" class="avatar-sm rounded-circle">
                                        </div>
                                        <!-- content -->
                                        <div class="ms-3">
                                            <p class="mb-0 font-weight-medium">
                                                Identity e MongoIdentity
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- list group item -->
                            <li class="list-group-item p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <!-- img -->
                                        <div>
                                            <img src="~/images/jwt-auth.png" alt="Image" class="avatar-sm rounded-circle">
                                        </div>
                                        <!-- content -->
                                        <div class="ms-3">
                                            <p class="mb-0 font-weight-medium">
                                                Autenticação e Token JWT
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- list group item -->
                            <li class="list-group-item p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <!-- img -->
                                        <div>
                                            <img src="~/images/auto-mapper.jpg" alt="Image" class="avatar-sm rounded-circle">
                                        </div>
                                        <!-- content -->
                                        <div class="ms-3">
                                            <p class="mb-0 font-weight-medium">
                                                AutoMapper
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- list group item -->
                            <li class="list-group-item p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <!-- img -->
                                        <div>
                                            <img src="~/images/clean-code.png" alt="Image" class="avatar-sm rounded-circle">
                                        </div>
                                        <!-- content -->
                                        <div class="ms-3">
                                            <p class="mb-0 font-weight-medium">
                                                Clean Code
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- list group item -->
                            <li class="list-group-item p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <!-- img -->
                                        <div>
                                            <img src="~/images/solid.png" alt="Image" class="avatar-sm rounded-circle">
                                        </div>
                                        <!-- content -->
                                        <div class="ms-3">
                                            <p class="mb-0 font-weight-medium">
                                                Principios SOLID
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
